{% extends 'crudApp/index.html' %}
{% block content %}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <!--글제목-->
        <h2 class="text-center mt-0">제목: {{posts.title}}</h2>
        <hr class="divider" />
        <!--작성일자 및 시간-->
        <p>작성 일자 및 시간: {{posts.pub_date}}</p>
        <!--글쓴이-->
        <p>글쓴이 : {{post.writer}}</p>
        <!--본문-->
        <p>내용:{{post.body}}</p>
        <!--수정하기 링크-->
        <a href="{% url 'edit' post.id %}">수정하기</a>
        <!--삭제하기 링크-->
        <a href="{% url 'delete' post.id %}">삭제하기</a>
    </div>
</section>
{% endblock %}